/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----| Navbar component style
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cpm-navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
    height: var(--app-navbar-height);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----| Form component style
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cpm-float-label {
    position: relative;
}

.cpm-float-label label {
    position: absolute;
    pointer-events: none;
    top: calc(var(--app-items-height) / 6);
    left: var(--app-space-lg);
    transition: all .2s;
}

.cpm-float-label input:focus+label,
.cpm-float-label input:not(:placeholder-shown)+label {
    font-size: var(--app-font-sm);
    transform: translateY(-140%);
}

.cpm-float-label input::placeholder {
    color: transparent;
}